<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd"
       default-autowire="byName">
    <!--<context:property-placeholder-->
            <!--ignore-resource-not-found="true"-->
            <!--file-encoding="UTF-8"-->
            <!--location="classpath:props/common.properties,${conf.properties}"-->
    <!--/>-->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <!-- 配置文件中可能存在中文 -->
        <property name="fileEncoding" value="UTF-8"/>
        <property name="locations">
            <list>
                <value>classpath:props/common.properties</value>
                <!--这个配置外部运维修改可以覆盖common.properties 的配置-->
                <!--<value>classpath:props/conf.properties</value>-->
                <value>${config.properties:classpath:props/config.properties}</value>
            </list>
        </property>
    </bean>

    <context:component-scan base-package="cn.shenyun.wuniu.service"/>
    <context:component-scan base-package="cn.shenyun.wuniu.biz"/>
    <!--<import resource="spring-servlet.xml"/>-->
    <!--dubbo-->
    <!--<import resource="dubbo-conf.xml"/>-->
    <import resource="dataSource-wuniu-master.xml"/>


    <!-- 	监控springbean初始化完成 -->
    <bean class="cn.shenyun.application.InstantiationTracingBeanPostProcessor"/>
    <bean id="gsonFactory" class="cn.shenyun.utils.GsonFactory" >
    </bean>
    <bean id="gson"  class="com.google.gson.Gson" factory-bean="gsonFactory" factory-method="create" ></bean>
</beans>